gris_oscuro = #444
gris_claro = lighten(gris_oscuro,40%)
gris_texto = lighten(gris_oscuro,30%)
verde_estratega = #B3C834
verde_oscuro = lighten(verde_estratega,-10%)
@font-face{ 
	font-family: 'iconosSstratega';
	src:url('../icomoon/fonts/icomoon.eot?-qaj1kr');
	src:url('../icomoon/fonts/icomoon.eot?#iefix-qaj1kr') format('embedded-opentype'),
			url('../icomoon/fonts/icomoon.woff?-qaj1kr') format('woff'),
			url('../icomoon/fonts/icomoon.ttf?-qaj1kr') format('truetype'),
			url('../icomoon/fonts/icomoon.svg?-qaj1kr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fontello/font/fontello.eot?21222515');
  src: url('../fontello/font/fontello.eot?21222515#iefix') format('embedded-opentype'),
       url('../fontello/font/fontello.woff?21222515') format('woff'),
       url('../fontello/font/fontello.ttf?21222515') format('truetype'),
       url('../fontello/font/fontello.svg?21222515#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'flechas';
	src:url('../Flechas/fonts/icomoon.eot?j8wxdz');
	src:url('../Flechas/fonts/icomoon.eot?#iefixj8wxdz') format('embedded-opentype'),
		url('../Flechas/fonts/icomoon.woff?j8wxdz') format('woff'),
		url('../Flechas/fonts/icomoon.ttf?j8wxdz') format('truetype'),
		url('../Flechas/fonts/icomoon.svg?j8wxdz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'menu';
	src:url('../fonts/menu.eot?-q6fzpi');
	src:url('../fonts/menu.eot?#iefix-q6fzpi') format('embedded-opentype'),
		url('../fonts/menu.woff?-q6fzpi') format('woff'),
		url('../fonts/menu.ttf?-q6fzpi') format('truetype'),
		url('../fonts/menu.svg?-q6fzpi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*
	text-align justify
	list-style none
a
	list-style none
	text-decoration none
	color #FFF
img
	border 0px
body
	margin 0px
	padding 0px
.fixed
	position fixed
	width 99%
	top 0px
	left 0px	
	background gris_oscuro;
footer
	background gris_oscuro
	border-top 1px solid #222
	color gris_texto
	padding 15px
	.listas
		color gris_claro
		display inline-block
		padding 5px
		width 25.5%
		.encabezadoListas
			color gris_texto
			font-size 24px
			font-family 'Source Sans Pro', sans-serif
		.lista
			height 200px
			overflow hidden
			display inline-block
			padding-left 10px
			li
				padding-top 10px
				-webkit-transition all 0.3 ease-out
				-moz-transition all 0.3 ease-out
				transition all 0.3 ease-out
			&:hover
				color gris_texto
		.social
			display inline-block
			font-family 'Source Sans Pro',sans-serif
			font-size 24px
			overflow hidden
			height 200px
			li
				display inline-block
				font-family sans-serif		
header
	background #FFF
	border-bottom 1px solid #AAA
	color gris_oscuro
	margin-top 0px
	overflow hidden
	position relative
	padding 7px 10px 30px 30px 
	z-index 2
	.logo
		.imgLogo 
			img
				border 0px
				max-width 140px
				max-height 140px
	.desplegable
		display none
	nav
		background transparent
		display inline-block
		font-family 'Arimo', sans-serif
		padding 10px
		top 0
		left 50px
		position absolute
		-webkit-transition all 0.3s ease-out
		-moz-transition all 0.3s ease-out
		transition all 0.3s ease-out
		z-index 1
		ul
			margin 0 auto
			width 100%
			margin-left 12%
			li
				border-right 1px solid gris_texto
				color #000
				display inline-block
				margin-left 5em
				a
					color gris_oscuro
.imagina
	padding 10px
	.contenedorIntro
		margin 0 auto
		width 80%
	.imgImagina
		display inline-block
		img
			max-width 500px
			max-height 500px
	.encabezadoIntro	
		margin-left 16%
		font-size 80px
		color #000
		font-family 'Raleway',sans-serif
		font-weight 100
	.textoImagina
		float right
		font-family 'Arimo',sans-serif
		font-weight 400	
		display inline-block
		top 0px
		width 45%	
.intro	
	display inline-block
	border-bottom 1px solid #AAA 
	box-shadow 1px 1px 1px #AAA
	.encabezadoIntro	
		margin-left 16%
		font-size 80px
		color #000
		font-family 'Raleway', sans-serif
		font-weight 100
	.contenedorIntro
		margin 0 auto
		width 80%
		.introImg
			float left
			display inline-block
			img 
				max-width 500px
				max-height 500px
		.introTexto
			float right
			font-family 'Raleway',sans-serif
			font-weight 400	
			display inline-block
			top 0px
			width 45%
			.titulo
				font-size 32px
				margin-top 10px
.menuProductos
	background gris_oscuro
	padding 15px 0px 15px 0px
	font-family 'Raleway', sans-serif
	font-size 20px
	font-weight 200
	margin-top -115px
	-webkit-transition 0.3s all ease-out
	-moz-transition 0.3s all ease-out
	transition 0.3s all ease-out
	z-index -1
	li
		border-right 1px solid gris_texto;
		display inline-block
		width 20%
		margin 0 auto 0 4%
		overflow hidden
		&:nth-child(5)
			border-right 0px	
.testimonios
	display flex
	padding 15px
	width auto
	.opiniones
		background #EEE
		display inline-block
		margin 15px 0px 0px 10px 
		padding 15px
		width 400px	
			
.opciones
	width auto
	padding 10px
	.magnus
		border-right 1px solid #000
		padding 10px
		margin 0 auto
		width 400px	
	.simac
		padding 10px
		margin 0 auto
		width 400px	
.parallax
	margin-top 30px
	background url(../img/oficina.jpg) #000 fixed
	background-repeat no-repeat
	background-size 100% 800px
	height 500px	
	padding 30px
	position relative
	font-family 'Raleway', sans-serif
	color transparent
	font-weight bold
	font-size 125px
	/*-webkit-text-stroke-color white
	-webkit-text-stroke-width 0.75px*/
.premios
	display block
	background #B3C834
	padding 15px
	position relative
	border-left 16px solid #FFF
	border-right 16px solid #FFF
	&:before
		content ""
		border-top 61px solid transparent
		border-left 2.5em solid #FFF
		border-bottom 67px solid transparent
		position absolute
		top 0px 
		left 0px
		box-shadow 0px 0px 0px
	&:after
		content ""
		position absolute
		top 0px
		right 0px
		border-top 61px solid transparent 
		border-left 35px solid #FFF
		border-bottom 67px solid transparent
		-webkit-transform rotate(180deg)
		-moz-transform rotate(180deg)
		transform rotate(180deg) 	
	.contenedorItems
		display inline-flex
		display -webkit-inline-flex
		display -moz-inline-flex
		-webkit-flex-flow row wrap
		flex-flow row wrap
		-moz-flex-flow fow wrap
		display flex
		width 100%
		padding 10px
		margin 0 auto
		.items
			display inline-block
			margin 0 auto 0px 
			&:before
				content '\e603'
				color gris_oscuro
				font-family 'iconosSstratega',sans-serif
				font-size 80px
.productosSnap
	.flechaUp
		bottom 60px
		right 50px
		position fixed
		margin-top 0px
		-moz-transition all 0.3s ease-out
		-webkit-transition all 0.3s ease-out
		transition all 0.3s ease-out
		&:before
			content '\e603'
			font-family 'flechas'
			font-size 36px
			color gris_oscuro
			opacity 0.5
	.products
		padding 15px
		width 80%
		margin 100px auto
		border-bottom 1px
		box-shadow 0px 1px 1px -1px #aaa
		.headerProducts
			font-family 'Raleway',sans-serif
			font-weight 200
			font-size 75px
			width 50%
			margin 50px auto
		.video
			width 50%
			display block
			margin  20px auto
			img
				width 100%
				display block
				margin auto	
		.texto
			width 70%
			margin auto
			display block
			font-size 25px
			font-family 'Raleway',sans-serif
			font-weight 400
			text-shadow 0px 2px 2px #AAA
.roller
	.rollerCont
		width 100%
		margin-left 1%
		.imagen
			background-image url("../img/magnus160a.jpg")
			display inline-block
			width 31.8%
.slide
	img
		display block
		max-width 100%
		margin auto
.sticky
	position fixed
	width 100%
	top 0px
	left 0px
	margin-top 0px
	-webkit-transform translate(0px, 0px)
	-moz-transform translate(0px, 0px)
	transform translate(0px,0px)

@media screen and (max-width:768px)
		header
			background #FFF
			border-bottom 1px solid #AAA
			box-shadow 0px 1px 2px -1px #AAA
			color gris_oscuro
			overflow hidden
			position relative
			padding 7px 10px 20px 30px 
			.logo
				padding-top 5px
				.imgLogo 
					img
						border 0px
						max-width 140px
						max-height 140px	
			nav
				visibility hidden
				ul
					margin 0 auto
					width 100%
					margin-left 12%
					li
						border-right 1px solid gris_texto
						color #000
						display inline-block
						margin-left 5em
						a
							color gris_oscuro
			.desplegable
				display inline-block
				position absolute
				top 10px
				right 30px
				&:before
					color gris_oscuro
					content '\e602'
					font-family 'menu'
					font-size 36px
		.menuProductos
			display none	
		.productosSnap
			.flechaUp
				bottom 60px
				right 20px
				position fixed
				margin-top 0px
				-moz-transition all 0.3s ease-out
				-webkit-transition all 0.3s ease-out
				transition all 0.3s ease-out
				&:before
					content '\e603'
					font-family 'flechas'
					font-size 36px
					color gris_oscuro
					opacity 0.5
			.products
				padding 15px
				width 80%
				margin 0px auto
				border-bottom 1px
				box-shadow 0px 1px 1px -1px #aaa
				.headerProducts
					font-family 'Raleway',sans-serif
					font-weight 200
					font-size 60px
					width 50%
					margin 50px auto
				span.intelli
					.headerProducts
						font-family 'Raleway',sans-serif
						font-weight 200
						font-size 60px
						width 80%
						margin 50px auto
				.video
					width 50%
					display block
					margin  20px auto
					img
						width 100%
						display block
						margin auto	
				.texto
					width 70%
					margin auto
					display block
					font-size 25px
					font-family 'Raleway',sans-serif
					font-weight 400
					text-shadow 0px 2px 2px #AAA			
		.toggle
			position relative
			z-index 2
			ul
				padding 0/*quita-sangría*/
				margin-top 0px
				background-color gris_oscuro				
				li
					margin-left 0px
					padding 10px 10px 10px 20px
					border-bottom 1px solid gris_texto
					a
						color #FFF
						font-family 'Arimo',sans-serif